---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Well, this is new!</title>
	</head>
	<body>
        <!-- Navigation as a list  -->
        <a href="/">Go to Home Page</a>
        <a href="/about">Go to About Page</a>
        <a href="/blog">Go to Blog Page</a>

		<h1>About</h1>
        <p>I have no idea what this is about.</p>

	</body>
</html>
